
html, body {
    height: 100%;
}

div {
    margin: 10px;
    border: 1px solid black;
    
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#középső {
    display: flex;
    flex-direction: row;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#kép {
    overflow: hidden;
    flex-shrink: 0;
    flex-shrink: 0;
    
}
#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1 
}
#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gomb {
    padding: 20px;
    width: 80px;
}

.kattintható:hover {
    background-color: fuchsia;
    color: white;
}
.jó{
    background-color:green;
}
.rossz{
    background-color:red;
}
@media only screen and (max-width: 600px) {
    #középső {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
    }
    #kép {
        display:flex;
        flex-direction:column;
    }
}